*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
background-color: black;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;

}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight:600
 
}
.navbar a:hover{
    color: blue;

}